html {
  background-color: #282c34;
}

.App {
  color: #fff;
  text-align: center;
}

.test-button{
  padding: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background: #fff;
}

.cube {
  margin: 2rem auto;
  height: 300px;
  width: 300px;
  background: #03CDF2;
}
