@font-face {
	font-family: 'CrawlTitle';
	src: url('./fonts/SWCrawlTitle.ttf');
}

@font-face {
	font-family: 'CrawlBody';
	src: url('./fonts/SWCrawlBody.ttf');
}

$dropshadow: drop-shadow(0px 0px 10px rgb(36, 36, 209));
$transition: 0.3s all;
$swYellow: #fddc38;

html {
	background: #1d1f20;
	overflow-x: hidden;
}

p,
h1 {
	color: #fff;
}

h1 {
	font-size: 3rem;
	font-family: 'CrawlTitle', sans-serif;
	font-weight: bolder;
	letter-spacing: 1px;
	color: $swYellow;
}

body {
	position: relative;
}

.App {
	header {
		height: auto;
		width: 100vw;
		background-color: #000;
		background-image: url('./images/starsbackgroundtransparent.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-bottom: 1px solid #333333;

		div {
			display: flex;
			justify-content: center;
			border-bottom: 1px solid #333333;

			img {
				padding: 1.5rem 0;
			}
		}

		nav {
			display: flex;
			justify-content: center;
			background-color: #000;

			ul {
				display: flex;
				justify-content: center;
				align-items: center;
				list-style: none;
				width: 20vw;
				margin: 0;

				li {
					text-decoration: none;
					text-transform: uppercase;
					font-size: 0.875rem;
					font-weight: bold;
					letter-spacing: 1px;
					padding: 0.7rem 2.2rem;
					color: #999999;

					&:first-child {
						border-left: 1px solid #333333;
						border-right: 0.5px solid #333333;
					}

					&:last-child {
						border-left: 0.5px solid #333333;
						border-right: 1px solid #333333;
					}

					a {
						color: #999999;
						text-decoration: none;
						transition: 0.3s ease-in-out;

						&:hover {
							color: #fff;
						}
					}
				}
			}
		}
	}

	.home-wrapper {
		margin: 5% auto;
		display: flex;
		justify-content: center;

		a {
			position: relative;
			margin: 1rem;
			padding: 5rem 2rem;
			background: #000;
			color: $swYellow;
			font-size: 3rem;
			font-family: 'CrawlTitle', sans-serif;
			font-weight: bolder;
			text-decoration: none;
			letter-spacing: 1px;
			transition: $transition;
			border-left: 5px solid #333333;
			border-right: 5px solid #333333;
			transition: $transition;
			// transform: perspective(1000px) rotateX(0deg) scale(1);

			&:hover {
				transform: perspective(1000px) rotateX(20deg) scale(1.15);
				z-index: 1;
			}
		}
	}

	.select-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		select {
			display: block;
			width: 300px;
			font-size: 1.3rem;
			font-family: 'CrawlBody', sans-serif;
			padding: 1rem;
			background: #1d1f20;
			color: $swYellow;
			border: none;
			border-radius: 20px;

			&:hover {
				cursor: pointer;
			}

			option {
				padding: 0.5rem 0;
				line-height: 2rem;
				text-align: justify;
				background: #1d1f20;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	.filter-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		margin-top: 2rem;

		.character-card {
			color: #8eb6f2;
			margin: 1rem 2rem;
			padding: 1rem 2rem;
			width: 15%;
			font-weight: bold;
			background: rgba(67, 91, 152, 0.35);
			border: solid 5px #8eb6f2;
			border-radius: 15px;
			transform: perspective(3000px) rotateY(20deg) rotateX(15deg);
			transition: 0.3s cubic-bezier(0.77, 0.6, 0.36, 0.77);
			text-decoration: none;
			filter: $dropshadow;

			&:hover {
				transform: rotateY(0deg) rotateX(0deg) scale(1.05);
			}

			h2 {
				color: #8eb6f2;
				width: 100%;
				text-align: center;
				text-transform: uppercase;
				font-size: 1.5rem;
				font-style: italic;
				filter: $dropshadow;
			}

			img {
				display: block;
				margin: 1rem auto;
				height: auto;
				width: 100px;
				filter: $dropshadow;
			}

			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				text-align: center;

				li {
					filter: $dropshadow;
				}
			}
		}
	}

	.character-detail-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;

		& > ul {
			list-style: none;
			color: #8eb6f2;
			margin: 3rem 0;
			padding: 1rem 2rem;
			width: 500px;
			font-weight: bold;
			background: rgba(67, 91, 152, 0.35);
			border: solid 5px #8eb6f2;
			border-radius: 15px;
			filter: $dropshadow;

			.name {
				font-size: 1.5rem;
			}

			li {
				margin: 1rem 0;
				filter: $dropshadow;

				& > :first-of-type {
					position: relative;

					&::after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 60%;
						height: 4px;
						background: #8eb6f2;
					}
				}

				ul {
					list-style: none;
					padding: 0;
					font-size: 1.5rem;

					li {
						margin: 0;
						filter: $dropshadow;

						&:last-child {
							position: relative;

							&::after {
								content: '';
								position: absolute;
								bottom: -3px;
								left: 0;
								width: 60%;
								height: 4px;
								background: #8eb6f2;
							}
						}
					}
				}
			}
		}
	}

	.visualitation-wrapper {
		.header-wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.visualisation-legend {
			margin: 0 auto 2rem;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			list-style: none;
			color: $swYellow;
			width: 700px;
			font-size: 1.2rem;
			font-family: 'CrawlBody', sans-serif;

			li {
				margin: 1rem 0.5rem 0 1rem;
				display: flex;
				flex-direction: row;
				justify-content: center;

				span {
					display: inline-block;
					height: 1.5rem;
					width: 1.5rem;
					margin-right: 0.5rem;
				}
			}
		}
	}
}

.tool-tip {
	position: absolute;
	z-index: 10;
	color: $swYellow;
	background: black;
	padding: 0.5rem;
	text-transform: uppercase;
	font-family: 'CrawlBody', sans-serif;
}
